@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@1,600&display=swap');

*
{
    margin: 0px;
    padding: 0;
}

body 
{
    font-family: 'Montserrat';
    background: #111111;

}

header
{
    background: #182848;
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
}

h2
{
    color: #fff;
    /* position: absolute;
    left: 20px; */
    margin-left: 10px;
    font-weight: 300;
}

/* Estilos de menu user */
.action
{
    position: absolute;
    right: 30px;
    top: 20px;
    
}

.action .profile
{
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    overflow: hidden;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #5776c9;
    border: 3px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; /* Hace que el texto sea más grueso */
    font-size: 28px;
}

.action .profile img
{
    width: 100%;
    top: 0;
    position: absolute;
    margin: auto;
    left: 0;
    height: 100%;
}

.action .menu
{
    background-color: #fff;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 10px 15px;
    position: absolute;
    right: -5px;
    width: 160px;
    transition: 0.5s;
    top: 100px;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active
{
    opacity: 1;
    top: 80px;
    visibility: visible;
}

.action .menu::before
{
    background-color: #fff;
    content: '';
    height: 20px;
    position: absolute;
    right: 30px;
    transform: rotate(45deg);
    top: -5px;
    width: 20px;
}

.action .menu h3
{
    color: #0c0c0c;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.action .menu h3 div
{
    color: #114ae7;
    font-size: 16px;
    font-weight: bold;
}
.action .menu ul
{
    display: flex;
    flex-direction: column;
    /* esto fue clave  */
    align-items: start;
    padding: 0;
    margin: 0;
}
.action .menu ul li
{
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 25px;
    
}


.action .menu ul li img
{
    max-width: 40px;
    margin-right: 30px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li a
{
    display: inline-block;
    color: #0c0c0c;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.action .menu ul li:hover img
{
    opacity: 1;
}

.action .menu ul li:hover a
{
    color: #220cec;
}

.icon-size
{
    color: #e71d1d;
}
/* -------------     */

.search-box
{
    margin-left: 540px;
    padding: 10px;
}

.box
{
    padding: 10px;
}
.btn-search
{
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #3e3e9c;
    border: 2px solid #3e3e9c;
    border-radius: 3px;
}
.btn-search:hover
{
    background-color: #70709c;
}
.container 
{
    background-color: #fff;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    margin-top: 60px;
    /* background-color: black; */
    border: 2px solid #c1c1c1;
    border-radius: 7px;
    -webkit-box-shadow: -1px 2px 13px 3px rgba(66, 68, 90, 1);
    -moz-box-shadow: -1px 2px 13px 3px rgba(66, 68, 90, 1);
    box-shadow: -1px 2px 13px 3px rgba(66, 68, 90, 1);
}
  
h2 
{
    font-size: 26px;
    margin: 10px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
}
  
.responsive-table
{
    /* margin-right: 40px; */
    overflow: auto;
    max-height: 400px;
}

li {
    border-radius: 3px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-header 
{
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.6);
}

.col-1 
{
    flex-basis: 10%;
    white-space: nowrap;
    /* text-align: center; */
}

.col-2 {
    flex-basis: 20%;
}

.link-project
{
    font-weight: bold;
    color: #000;
}

.link-project:hover
{
    color: #2a5b8f;
}

a
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

a:hover
{
    color: #2e87e6;
}
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }


.arrow-back
{
    color: #fff;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 15px;
    
}